{% extends "base.html" %}

{% block blockname %}
  


<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 mb-6">
    <div class="bg-white rounded-md border border-gray-100 p-6 shadow-md shadow-black/5">
        <div class="flex justify-between mb-6">
            <div>
                <div class="flex items-center mb-1">
                    <a href="https://t.me/+0gMAeg30D4EyMGUy" class="text-2xl font-semibold"><i class="fa-solid fa-up-right-from-square"></i></a>
                </div>
                <div class="text-sm font-medium text-gray-400">Tg Group</div>
            </div>
        </div>

        <a href="https://t.me/+0gMAeg30D4EyMGUy" class="text-[#f84525] font-medium text-sm hover:text-red-800">To look</a>
    </div>
    <div class="bg-white rounded-md border border-gray-100 p-6 shadow-md shadow-black/5">
        <div class="flex justify-between mb-4">
            <div>
                <div class="flex items-center mb-1">
                    <div class="text-2xl font-semibold">
                        {{ object.count }}
                </div>
                </div>
                <div class="text-sm font-medium text-gray-400">All Orders</div>
            </div>
        </div>
        <a href="{% url 'table' %}" class="text-[#f84525] font-medium text-sm hover:text-red-800">To look</a>
    </div>
    <div class="bg-white rounded-md border border-gray-100 p-6 shadow-md shadow-black/5">
        <div class="flex justify-between mb-6">
            <div>
                <div class="text-2xl font-semibold mb-1">
                {% if total_liters.total_liters == None %}
                    <span>0</span>
                {% else %}
                     <span>{{ total_liters.total_liters }}</span>
                {% endif %}
                     L</div>
                <div class="text-sm font-medium text-gray-400">Sold Water</div>
            </div>
        </div>
        <a href="{% url 'table' %}" class="text-[#f84525] font-medium text-sm hover:text-red-800">To look</a>
    </div>
</div>
    <div class="bg-white border border-gray-100 shadow-md shadow-black/5 p-6 rounded-md">
        <div class="flex justify-between mb-4 items-start">
            <div class="font-medium">History</div>
            <div class="dropdown">
                <button type="button" class="dropdown-toggle text-gray-400 hover:text-gray-600"><i class="ri-more-fill"></i></button>
                <ul class="dropdown-menu shadow-md shadow-black/5 z-30 hidden py-1.5 rounded-md bg-white border border-gray-100 w-full max-w-[140px]">
                    <li>
                        <a href="#" class="flex items-center text-[13px] py-1.5 px-4 text-gray-600 hover:text-blue-500 hover:bg-gray-50">Profile</a>
                    </li>
                    <li>
                        <a href="#" class="flex items-center text-[13px] py-1.5 px-4 text-gray-600 hover:text-blue-500 hover:bg-gray-50">Settings</a>
                    </li>
                    <li>
                        <a href="#" class="flex items-center text-[13px] py-1.5 px-4 text-gray-600 hover:text-blue-500 hover:bg-gray-50">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="overflow-x-auto">
            <table class="w-full min-w-[460px]">
                <thead>
                    <tr>
                        <th class="text-[12px] uppercase tracking-wide font-medium text-gray-400 py-2 px-4 bg-gray-50 text-left rounded-tl-md rounded-bl-md">Service</th>
                        <th class="text-[12px] uppercase tracking-wide font-medium text-gray-400 py-2 px-4 bg-gray-50 text-left">Earning</th>
                        <th class="text-[12px] uppercase tracking-wide font-medium text-gray-400 py-2 px-4 bg-gray-50 text-left rounded-tr-md rounded-br-md">Status</th>
                    </tr>
                </thead>
                <tbody>
                    
                    
                    
                </tbody>
            </table>
        </div>
    </div>
</div>


{% endblock blockname %}